<!--footer-->
<footer class="footer">
    <div class="wrap">

    </div>
</footer>
<!--END footer-->

<!--modal-success-->
<div class="arcticmodal-container">
    <div class="arcticmodal-container_table">
        <div class="arcticmodal-container_td">
            <div class="modal modal-success" id="modal-success">
                <div class="modal-close arcticmodal-close"></div>
                <div class="title">Data successful send, thank you!</div>
                <div class="desc">We will contact you soon.</div>
            </div>
        </div>
    </div>
</div>
<!--END modal-success-->